@{
    ViewBag.Title = "Function Page";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<form method="get" asp-action="Function">
    <input type="number" id="count" name="count" value="@ViewBag.Count" min="1"/>
    <button type="submit">Submit</button>
</form>

<ul>
    @for (int i = 1; i <= ViewBag.Count; i++)
    {
        <li>@i</li>
    }
</ul>